.hr-lines{
    margin: 20px;
    text-align: center;
    font-size: 22px;
    color: #475D4B;
    position: relative;
    text-align: center;
}       
.hr-lines:before{
    content:" ";
    height: 2px;
    width: 50px;
    background: #475D4B;
    display: block;
    position: absolute;
    top: 50%;
    left: 32%;
}

.hr-lines:after{
    content:" ";
    height: 2px;
    width: 50px;
    background: #475D4B;
    display: block;
    position: absolute;
    top: 50%;
    right: 32%;
}