.lux {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}
.lux>div{
    border-radius: 10px;
    overflow: hidden;
}
.lux>div>img{
    width: 100%;
    display: block;
    transition:transform .5s;
}
.lux>div:hover img{
    transform:scale(1.3) ;
}