/* navbar2 */
.navbar2{
    width: 90%;
    margin: auto;
    display: flex;
    display: flex;
    align-items: center;
}
.navbar2>#right>span:hover{
    zoom: 110%;
}
.navbar2>#left:hover{
    zoom: 110%;
}
#left{
    width: 25%;
    height: auto;
}
#middle{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
#middle>img{
    height: 120px;
    margin: 10px;
}
#right{
    width: 25%;
    height: auto;
    display: block;
    text-align: right;
}
.material-symbols-outlined {
    zoom: 130%;
    margin: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 48
}
