#slidingimg{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .slider{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 300px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 300px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 1px solid #475D4B;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 10px;
  }
  
  .manual-btn:hover{
    background: #475D4B;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  /*css for automatic navigation*/
  
  .navigation-auto{
    width: 90%;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 310px;
  }
  
  .navigation-auto div{
    border: 1px solid #475D4B;
    padding: 2px;
    border-radius: 10px;
    transition: 2s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 10px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #475D4B;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #475D4B;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #475D4B;
  }

        